*{
    box-sizing: border-box;
    margin: 0;
    padding: 0;
    font-family: monospace;
}


.navLinks{
    display: inline-block;
    color: black;
    text-decoration: none;
    margin-left: 5rem;
   
}
.navLinks:hover{
    font-weight: bold;
    display: inline-block;
    color: orangered;
    text-decoration: none;
   
}

#header{
    border: 1px solid black;
    border-radius: 3px;
    margin: 1rem;
    padding: 1rem;

}

#navbar{
    display: inline;
}

#main{ 
    margin: 1em;
    padding: 3em;
    border: 1px solid black;

    
}
 section{
    margin: 1em;
    border: 1px solid black;
    padding:  1em 7em 1em 7em ;
     
 }
#article{
    width: 70%;
    border: 1px;
    border-color: black;
    padding: 2em;
     
}
#main-content{
    margin-bottom: 3rem;  
    text-align: left;
    font-size: 1rem;
}

 
 

li{
    display: inline-block;
   width: 30%;
}
 
.orange {
    color: orangered;
    font-weight: bold;
    margin-top: 2rem;
    text-decoration: none;
}
.sec-img{
    width: 15rem;
    height: 15rem;
    margin-top: 3rem;
    margin-bottom: 3rem;
}


#footer{
  border: 1px solid black;
  margin: 1rem;
  padding: 1rem;
  font-size: 0.9rem;
}

/* All footer blocks */
.footer-left,
.footer-center,
.footer-right{
  display: inline-block;
  vertical-align: middle;
}

/* Left */
.footer-left{
  width: 30%;
}

/* Center links */
.footer-center{
  width: 40%;
  text-align: center;
}

.footer-center a{
  margin: 0 0.8rem;
  text-decoration: none;
  color: black;
  float: center;
}

/* Right social links */
.footer-right{
  width: 25%;
  float: right;
  text-align: right;
}

.footer-right a{
  margin-left: 0.8rem;
  text-decoration: none;
  color: black;
}

.footer-center a:hover,
.footer-right a:hover{
  color: orangered;
  font-weight: bold;
}
