 * {
      box-sizing: border-box;
      font-family: Arial, sans-serif;
    }

    body {
      background: #f4f6f8;
      padding: 40px;
    }
  .container {
      width: 360px;
      margin: auto;
      background: #fff;
      border: 1px solid #ccc;
      border-radius: 6px;
    }

    .head {
      background: #cfd4d8;
      padding: 12px;
      font-weight: bold;
    }
header div{
   font-size:xx-large;
  color:  #1abc9c;

}

nav span{
 color:  #1abc9c;
}

header{
  display: flex;
  justify-content: space-between;
  align-items: center;
}
    form {
      padding: 15px;
    }

    label {
      display: block;
      margin-top: 10px;
      font-size: 14px;
    }

    input,
    textarea,
    select {
      width: 100%;
      padding: 8px;
      margin-top: 5px;
      border: 1px solid #ccc;
      border-radius: 4px;
    }

    textarea {
      height: 70px;
      resize: none;
    }

    .green {
      background: #1abc9c;
      color: white;
      border: none;
    }

    .radio {
      margin-top: 8px;
    }

    button {
      width: 20%;
      margin-top: 15px;
      padding: 10px;
      background: #1abc9c;
      color: white;
      border: none;
      border-radius: 4px;
      cursor: pointer;
      float: right;

    }